<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UNCC Notes App">


    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


    <a href="{{ url_for ('index') }}" class="topLinks">Home ||</a>
    <a href="{{ url_for ('display_notes') }}" class="topLinks"> Notes ||</a>


    <a href="{{ url_for ('sign_in') }}" class="topLinks"> Sign In ||</a>
    <a href="{{ url_for ('logout') }}" class="topLinks"> Logout ||</a>

    <a href="{{ url_for ('my_account') }}" class="topLinks"> My Account ||</a>

    <a href="{{ url_for ('match_overview') }}" class="topLinks"> Battle Royale </a>


</head>
<body>

   

    <br />
    <div class="notesFor">

        Notes App: Battle Royale
        <br/>
        Game: {{match.lobby}}
        <br/>
        {% if match.round == 0 %}
        Round: Match Start! 
        {% elif match.round <= 3 %}
        Round: 1
        {% elif match.round <= 6 %}
        Round: 2
        {% elif match.round <= 9 %}
        Round: 3
        {% elif match.round >= 10 %}
        Game Over!
        Date: {{match.Date}}
        {% endif %}
        <br/>
        Stage: {{match.round}}
    </div>
    <br />
    {% if match.round <= 3 %}
        <h1>Topic: {{match.topic1}}</h1>
        {% elif match.round <= 6 %}
        <h1>Topic: {{match.topic1}}, {{match.topic2}},</h1>
        {% elif match.round <= 9 %}
        <h1>Topic: {{match.topic1}}, {{match.topic2}}, and {{match.topic3}}</h1>
    {% endif %}

    <br/>
    <br/>

    {% if match.round == 0 %}
    <div class="adddTitle">
        Phase: Adding Titles!
    </div>
        <form action="{{ url_for('match_add_notes', match_id=match.id) }}" method="GET">
            <input type="submit" value="Add Titles" class="button">
        </form>
    {% elif match.round == 1 or match.round == 4 or match.round == 7 %}

        {% if match.round <= 3 %}
        Phase: Add your First Note!
        {% elif match.round <= 6 %}
        Phase: Add Second Notes!
        {% elif match.round <= 9 %}
        Phase: Add Last Note!        
        {% endif %}

        <form action="{{ url_for('match_add_notes', match_id=match.id) }}" method="GET">
            <input type="submit" value="Add Notes" class="button">
        </form>
    {% elif match.round == 2 or match.round == 5 or match.round == 8 %}
    Phase: Read Notes, and Add Comments!
        <form action="{{ url_for('match_add_notes', match_id=match.id) }}" method="GET">
            <input type="submit" value="Edit Notes" class="button">
        </form>

        <form action="{{ url_for('view_match', match_id=match.id) }}" method="post">
            <input type="submit" value="Submit Comments" class="button">
        </form>
    {% elif match.round == 3 or match.round == 6 or match.round == 9 %}
    Phase: Voting!
        <form action="{{ url_for('match_add_notes', match_id=match.id) }}" method="GET">
            <input type="submit" value="Edit Notes" class="button">
        </form>

        <form action="{{ url_for('brnote_vote', match_id=match.id) }}" method="GET">
            <input type="submit" value="Voting" class="button">
        </form>
    {% else %}
    Return to Menu:
        <form action="{{ url_for('match_overview') }}" method="GET">
            <input type="submit" value="Battle Royale Home" class="button">
        </form>
    {% endif %}



    {% if procnotes %}
    <table>
    {% for note in procnotes|sort(reverse=true, attribute="votes")|sort(reverse=true, attribute="fortnite") %}
    {% if note.fortnite or match.round >= 10 %}
    <tr>
            <div class="formatNotes">
                <div class="containNoteText">

                    <div class="containNoteText">
                        <td>
                            <div class="stickyNote">
                                {{note.title}}<br/>
                            </div>

                            {% if match.round >= 10 %}
                                {% for play in match.players %}
                                    {%if play.id == note.player_id %}
                                        Player: {{play.name}} <br/>
                                    {% endif %}
                                {% endfor %}
                                {% if note.ranking == 1 %}
                                    Rank: 1st<br/>
                                    Winner!
                                {% elif note.ranking == 2 %}
                                    Rank: 2nd<br/>
                                {% elif note.ranking == 3 %}
                                    Rank: 3rd<br/>
                                {% else %}
                                    Rank: {{note.ranking}}th<br/>
                                {% endif %}
                            {% endif %}

                            Votes: {{note.votes}}
                            
                            
                            <form action="{{ url_for('brnote_comment', match_id=match.id, brnote_id=note.id) }}" method="GET">
                                <input type="submit" value="Comments" class="button">
                            </form>
                    
                            <ul>
                                <li>{{note.text1}}</li>
                                {% if match.round >= 4 %} <li>{{note.text2}}</li> {% endif %}
                                {% if match.round >= 7 %} <li>{{note.text3}}</li> {% endif %}
                            </ul>
                        </td>
                    </div>

                </div>

        


        {% if note.brcomments %}
        {% if note.brcomments|length > 0 %}
        <td>
            <ul>
                {% for comment in note.brcomments %}
                <div class="containCommentTexts">
                    <li>
                        <div class="containCommentText">

                            {{ comment.text }}
                        </div>
                </div>
                {% endfor %}
            </ul>
        </td>
        {% endif %}
        {% endif %}

    </tr>
    {% endif %}
    {% endfor %}
    
    <table>
    {% endif %}
    

</body>
</html>